{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-4">Detalhes da Saída</h3>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ object.product }}</h3>
        <p class="card-text">Quantidade P: <strong>{{ object.quantity_size_p }}</strong></p>
        <p class="card-text">Quantidade M: <strong>{{ object.quantity_size_m }}</strong></p>
        <p class="card-text">Quantidade G: <strong>{{ object.quantity_size_g }}</strong></p>
        <p class="card-text">Quantidade GG: <strong>{{ object.quantity_size_gg }}</strong></p>
        <p class="card-text">Pagamento: <strong>{{ object.payment_type }}</strong></p>
        <p class="card-text">Preço de Custo: <strong>{{ object.outflow_cost_price }}</strong></p>
        <p class="card-text">Preço de Venda: <strong>{{ object.outflow_selling_price }}</strong></p>
        <p class="card-text">{{ object.description }}</p>
        <p class="card-text">{{ object.customer_name }}</p>
        <p class="card-text">{{ object.customer_phone }}</p>
      </div>
    </div>

    <a href="{% url 'outflow_list' %}" class="btn btn-secondary mt-3">Voltar para a Lista de Saídas</a>
  </div>
{% endblock %}
